body {
    text-align: center;
}
#tk_futo{
    background-color: aquamarine;
}
#tk_futo:hover{
    background-color:aqua;
}
@keyframes brdr_clr{
from{box-shadow: 1px 1px 20px yellow;}to{box-shadow: 1px 1px 20px blue;}
}
canvas{
    animation-name: brdr_clr;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}